<h1>Random Results</h1>
<h2>
  Minimum
  <%= @minimum %>
  Maximum
   <%= @maximum %>
   Random Number
   <%= @random_number %>
</h2>

<a href="http://localhost:3000/random/results?minimum=<%=@minimum %>&maximum=<%=@maximum %>">Recalculate</a>
